.main {
  @apply p-6 border-r-2 min-w-80 border-r-light-black;

  h1 {
    @apply flex text-3xl text-light-white font-extrabold items-center border-b-2 border-b-light-black pb-6;
  }
}

.menuItem {
  @apply flex gap-6 p-2 pr-32 rounded-lg relative transition-all duration-300;

  &::before {
    content: '';
    @apply absolute h-full rounded -left-6 top-0 w-0 bg-primary transition-all duration-300;
  }

  &:hover {
    @apply bg-light-black border-gray text-light-white;

    &::before {
      @apply w-1;
    }
  }
}

.active {
  @apply bg-light-black border-gray text-light-white;

  &::before {
    @apply w-1;
  }
}

.mainMenu {
  @apply my-6;

  h5 {
    @apply mb-2 text-lg text-light-white;
  }
}

.menu {
  @apply flex flex-col gap-2;
}

.menuTitle {
  @apply flex justify-between;

  > button {
    @apply px-4 rounded transition-all;

    &:hover {
      @apply bg-light-black my-1;
    }
  }
}

.chevron {
  transition: transform 0.2s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.menuContent {
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  @apply flex flex-col gap-2;
}

.collapsed {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@media screen and (max-width: 1199px) {
  .main {
    display: none;
    @apply absolute top-0 right-0 bg-black shadow-2xl z-10;

    &:hover {
      display: block;
    }
  }
}

.skeleton {
  @apply flex gap-6 p-2 pr-32 bg-light-black border-gray text-light-white rounded-lg relative transition-all duration-300 w-[270] h-10;
}
